:root {
    --swiper-pagination-bottom: 20px
}

.App {
    text-align: center;
    width: 100%;
    max-width: 720px;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: inherit;
}

.navbar {
    border-bottom: solid 1px #EBEBEB;
}

.bottom-tab-nav {
    border-top: solid 1px #EBEBEB;
}

.bottom-nav-link .row>* {
    padding-left: 0;
    padding-right: 0;
}

.nav-link, .bottom-nav-link {
    color: #808080;
    font-size: 16pt;
}

.bottom-nav-link svg{
    margin-bottom: 10px;
}

.bottom-nav-link:hover{
    color: #A41A16;
}

.bottom-nav-link.active{
    border-bottom: #A41A16 solid 10px;
}

.bottom-nav-link.active .bottom-tab-label{
    color: #303030;
}

.bottom-nav-link:hover svg{
    color: #A41A16;
}

.bottom-nav-link.active svg{
    color: #A41A16;
}

.bottom-tab-label {
    font-weight: 700;
    font-size: 12pt;
}


.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 14pt;
    background: #A51B17;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#A51B17 0%, #261301 100%);

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.swiper-slide::-webkit-scrollbar {
    display: none;
}

.my-swiper .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5);
}

.my-swiper .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
}

.slide-content {
    color: white;
    background-image: url("assets/images/map.png");
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 800px;
}

.slide-content .viasat-logo {
    height: 10vh;
    margin: 30px;
}

.slide-content .app-title {
    width: 100%;
}

.slide-content p{
    max-width: 80%;
    font-size: 16pt;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.slide-content .cast-image {
    width: 65%;
}

.inner-page {
    background-image: linear-gradient(#000000 50%, #A51B17 100%);
    background-position: top center;
    height: 100vh;
    overflow: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.inner-page::-webkit-scrollbar {
    display: none;
}

.page-title {
    position: fixed;
    width: 100%;
    max-width: 720px;
    z-index: 2;
    background: linear-gradient(#000000 0%, rgba(0, 0, 0, 0) 100%);
    height: 80px;
    padding: 10px 50px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-title h3 {
    margin: 0;
    font-size: 14pt;
}

.page-title .viasat-logo {
    height: 60px;
}

.page {
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    padding: 30px 10px;
    width: 85%;
    margin-bottom: 50px;
}

.page-container svg {
    font-size: 22pt;
}

.page-container p {
    font-size: 14pt;
    width: 80%;
    color: black;
    text-shadow: none;
    text-align: center;
    margin: 0 0 30px 0;
}

